*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif";
}

.susu{
  width: 100%;
  min-height: 100vh;
  background-image: url(attributes/background.png);
  background-position: center;
  opacity: 30%;
  background-size: cover;
  padding: 10px 10%;
  overflow: hidden;
}
